:root {
  --acier: 96, 163, 185;
  --combat: 255, 129, 0;
  --dragon: 79, 96, 226;
  --eau: 36, 129, 239;
  --électrik: 250, 193, 2;
  --fée: 239, 113, 239;
  --feu: 231, 35, 36;
  --glace: 61, 215, 255;
  --insecte: 146, 163, 18;
  --normal: 160, 163, 160;
  --plante: 61, 163, 36;
  --poison: 146, 63, 204;
  --psy: 239, 63, 122;
  --roche: 177, 171, 130;
  --sol: 145, 81, 33;
  --spectre: 112, 65, 112;
  --ténèbres: 80, 65, 63;
  --vol: 130, 186, 239;
}

html {
  height: 100%;
  overscroll-behavior: none;
}
body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  background: url("/backgrounds/default.webp") no-repeat center;
  background-size: cover;
<<<<<<< HEAD
  background-attachment: fixed;
=======
  background-attachement: fixed;
>>>>>>> main
  padding-bottom: 50px;
}
* {
  box-sizing: border-box;
  font-weight: normal;
}
.subroot {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
h1 {
  font-weight: bold;
  font-family: "Kode Mono";
  font-size: 2.5rem;
  text-shadow: 0 0 50px white, 0 0 50px white, 0 0 50px white;
}

.carillion {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  grid-auto-rows: 250px;
  gap: 50px;
  justify-content: center;
  align-content: center;
}
.itemContainer {
  margin: 10px;
}
.item {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.item::before {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: 30px;
  padding: 10px;
  background: linear-gradient(
    to bottom,
    rgba(var(--primaryColor)),
    rgba(var(--secondaryColor))
  );
  z-index: -1;
}
.item img {
  transition: 0.5s;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.item:hover img {
  transform: scale(1.5);
  filter: drop-shadow(0 0 5px black);
}
#itemId {
  font-size: x-small;
  margin-bottom: 10px;
}

.inputbox {
  position: relative;
  width: 196px;
}
.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}
.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
  text-shadow: 0 0 2px white;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: #ffffff;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}
.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.detailed header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.detailed header {
  margin-left: 25%;
}

.detailed header p {
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  padding: 10px;
}

.detailed main img {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
